#App {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

.buttons-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

footer {
    font-size: x-small;
    margin-top: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.btn {
    color: #F4F4F4;
    font-size: 14px;
    border-radius: 0.5em;
    background: #283747;
    cursor: pointer;
    border: 1px solid #1B2636;
    transition: all 0.3s;
    box-shadow: 5px 5px 10px #1B2636, -5px -5px 10px #354B66;
    
    width: 80px;  
    height: 35px; 
    padding: 5px;
}

.btn:hover {
    background: #354B66;
    box-shadow: 8px 8px 14px #1B2636, -8px -8px 14px #3F597A;
    transform: scale(1.05);
    transform-origin: center;
}

.btn:active {
    color: #D0D3D4;
    box-shadow: inset 4px 4px 12px #1B2636, inset -4px -4px 12px #354B66;
}